
h1 {
  color: #00334e!important;
  margin: 40px 0 50px 0 !important;
  text-align: center;
}

h2 {
  color: #00334e !important;
  text-align: center;
}


body {
  background-color: #7e97a6 !important;

}

form {
  margin: 1% 20% 2% 20%;
}

hr {
  border-top: dotted #95adbe 5px !important;

  width: 10%;
  margin: 50px auto;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  text-align: center;
  font-weigt: 400;
  font-size: 1rem;

}

input[type=submit] {
  margin-top: 5px;
}

input[type=reset] {
  margin-top: 5px;
}


label {
  color: #211717;
  font-weight: bold;
}

#professor-student-use {

  text-align: center;
}
